Repository SUAI-43dep-paoxt/TP2024, pull requests merged in 2024-06, with the labels that each got.

#53 #52 : add method for calendar creation & #49 : add creator & executor handling
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/caldav_client/exceptions.py
  client/TaskManager/caldav_client/schemas.py
Labels: backend

#63 User-friendly оповещение о незаполненных полях. Кооректировки дизйна
  client/TaskManager/TaskManager.pyproject.user
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/image_generation/img_generator.py
  client/TaskManager/mainwindow.py
  client/TaskManager/mainwindow.ui
  client/TaskManager/styles/styles.qss
  client/TaskManager/ui_mainwindow.py
  client/TaskManager/widgets/acceptionWin.ui
  client/TaskManager/widgets/ui_acceptionWin.py
  client/TaskManager/widgets/ui_warningWin.py
  client/TaskManager/widgets/warningWin.ui
Labels: client, design

#65 #57&#40 Добавлены нотификации. CR&D задач. Корректировки дизайна
  client/TaskManager/TaskManager.pyproject.user
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/caldav_client/notifications/notification_worker.py
  client/TaskManager/caldav_client/schemas.py
  client/TaskManager/image_generation/img_generator.py
  client/TaskManager/images/assigners.png
  client/TaskManager/images/avatar.png
  client/TaskManager/images/file-search.png
  client/TaskManager/images/invite-icon.png
  client/TaskManager/images/invite.png
  client/TaskManager/mainwindow.py
  client/TaskManager/mainwindow.ui
  client/TaskManager/requirements.txt
  client/TaskManager/styles/styles.qss
  client/TaskManager/ui_mainwindow.py
  client/TaskManager/widgets/authorization.ui
  client/TaskManager/widgets/ui_authorization.py
Labels: backend, client, design
