Repository SUAI-43dep-paoxt/TP2024, pull requests merged in 2024-05, with the labels that each got.

#48 #40.2 Добавлены стили для окна генерации инвайт-кода
  client/TaskManager/images/person.png
  client/TaskManager/mainwindow.ui
  client/TaskManager/rc_resource.py
  client/TaskManager/res.qrc
  client/TaskManager/styles/styles.qss
  client/TaskManager/ui_mainwindow.py
  client/TaskManager/widgets/authorization.ui
  client/TaskManager/widgets/gen_invite.ui
  client/TaskManager/widgets/ui_authorization.py
  client/TaskManager/widgets/ui_gen_invite.py
Labels: client, design

#39 Tasks crud
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/caldav_client/exceptions.py
  client/TaskManager/caldav_client/schemas.py
Labels: backend

#51 #50 Реализовано добавление и просмотр задач
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/mainwindow.py
Labels: backend, client
