Repository SUAI-43dep-paoxt/TP2024, pull requests merged in 2024-04, with the labels that each got.

#19 реализована 4-ая часть макета с элементами редактирования задач
  client/TaskManager/TaskManager.pyproject.user
  client/TaskManager/mainwindow.ui
  client/TaskManager/ui_mainwindow.py
Labels: client, design

#31 #29 : task base scheme
  client/TaskManager/caldav_client/schemas.py
Labels: backend

#33 Создана форма авторизации\регистрации юзеров и переход между ними;
  client/TaskManager/TaskManager.pyproject
  client/TaskManager/TaskManager.pyproject.user
  client/TaskManager/mainwindow.py
  client/TaskManager/widgets/authorization.ui
  client/TaskManager/widgets/ui_authorization.py
Labels: client

#35 #20 Сделал таск 20
  client/TaskManager/image_generation/avatar.py
  client/TaskManager/requirements.txt
Labels: client

#36 #32.1 Реализована авторизация пользователя через инвайт-код
  client/TaskManager/TaskManager.pyproject.user
  client/TaskManager/invite_code/schemas.py
  client/TaskManager/mainwindow.py
  client/TaskManager/widgets/authorization.ui
  client/TaskManager/widgets/ui_authorization.py
Labels: backend, client

#37 #22&9 Применение стилей к авторизации и к главному окну.
  client/TaskManager/images/avatar.png
  client/TaskManager/images/calendar-days.png
  client/TaskManager/images/calendar.png
  client/TaskManager/images/cc.png
  client/TaskManager/images/filter.png
  client/TaskManager/images/icon.png
  client/TaskManager/images/icon.svg
  client/TaskManager/images/icon2.png
  client/TaskManager/images/icon3.png
  client/TaskManager/images/l1.png
  client/TaskManager/images/panel-left-close.png
  client/TaskManager/images/r1.png
  client/TaskManager/images/tag.png
  client/TaskManager/images/tags.png
  client/TaskManager/mainwindow.py
  client/TaskManager/rc_resource.py
  client/TaskManager/res.qrc
  client/TaskManager/styles/styles.qss
  client/TaskManager/ui_mainwindow.py
  client/TaskManager/widgets/ui_authorization.py
Labels: client, design

#38 CalDav adapter & task creation
  client/TaskManager/caldav_client/caldav_adapter.py
  client/TaskManager/caldav_client/exceptions.py
  client/TaskManager/caldav_client/schemas.py
Labels: backend
